{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
        body {
            background-color: #0f0f1c !important;
            color: black;
        }
        .container {
            width: 100%;
            height: 100%;
            padding: 0 3em;
            background: #0f0f1c;
        }
        .img {
            margin: auto;
             border:5px solid black;
             display: inline-block;
             background-repeat: no-repeat;
             background-size: contain;
            width: auto;
            height: auto;
            max-width: 540px !important;
            max-height: 400px !important;
         }
         .p-button {
            margin-top: 0.5rem;
            text-align: center;
         }
         .row {
            /* background-color: #673AB7; */
         }
         #add-tag {
            margin-right: 10px;
         }
         
         input {
            background-color: inherit;
            border: 2px solid #f80;
            border-radius: 5px;
            color: black;
            margin: 1rem;
         }

        .typowriter{
            margin: 0px !important;
            text-align: center;
         }
        
        #typoimg {
            margin: 0px !important;
        }

        .paperarea{
            width: 549.36px;
            margin: auto;
            padding: 3px;
            background-color: #f6f7f9;
            font: 24px/24px 'Black Han Sans', sans-serif;
            color: #f80;
            text-transform: uppercase;
            text-align: center;
        }

        span{
            padding-left: 50px;
            padding-right: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block body %}
<div class="content">
    <h1 class="retro txtcenter">사물 찾기</h1>
    <div class="paperarea">
        <img class="img" src="{{ image }}" alt="">
        <form action="{% url 'taging:addtag' image_pk %}" method="POST" id="inputform" style="display: inline-block;">
            {% csrf_token %}
            <p class="p-button">
                <button class="freebtn sub" type="button" id="add-tag">태그 추가</button>
                <button class="freebtn" type="submit">제출</button>
            </p>
            <p style="margin-bottom: 1rem;">
                <input id="tag-input-1" type="text" name="tag" required>
                <a id="deltag1" value="tag1">삭제</a>
            </p>
        </form>
    </div>
    <div class="typowriter">
        <img id="typoimg" src="{% static '/images/typo.png' %}" alt="">
    </div>
</div>
    <script>
        const typowidth = document.querySelector('#typoimg').width
        const paper = document.querySelector('.paperarea')
        // paper.style.width = (typowidth*0.63)+'px'

        let cnt = 1
        const delbutton = document.querySelector('#deltag1')
        delbutton.addEventListener('click', function(event){
            document.querySelector('#tag-input-1').remove()
            delbutton.remove()
        })   
        const btnAddTag = document.querySelector('#add-tag')
        btnAddTag.addEventListener('click', function(event) {
            const len = document.querySelectorAll('input').length
            if(len <= 4){
                const inputform  = document.querySelector('#inputform')
                const pTag = document.createElement('p')
                const inputTag = document.createElement('input')
                inputTag.type="text"
                inputTag.required = true
                inputTag.id='tag-input-'+(cnt+1)
                inputTag.name="tag"
                // inputTag.name="tag"+(cnt+1)

                const delTag = document.createElement('a')
                delTag.innerHTML = ' 삭제'
                delTag.addEventListener('click', function(event){
                    inputTag.remove()
                    delTag.remove()
                    cnt = cnt - 1
                })
                
                // const emTag = document.createElement('em')
                // emTag.innerText = (cnt+1)+')'

                inputform.append(pTag)
                // pTag.append(emTag)
                pTag.appendChild(inputTag)
                pTag.appendChild(delTag)
                cnt = cnt+1

            }else{
                alert('Tag는 최대 4개까지 추가할 수 있습니다!')
            }
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}