{% extends 'base.html' %}
{% load static %}
{% block head%}
    <style>
        #main-flexbox{
            display: flex;
            flex-flow: column;
            align-items: center;
            height: 100%;
        }

        #content-flexbox{
            display: flex;
            width: 70%;
            flex-flow: row;
        }


        #dummy-flexbox {
            display: flex;
            width: 15%;
            flex-flow: column;
        }

        #button-flexbox{
            display: flex;
            width: 20%;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        #main-flexbox {
            margin-top: 1em;
        }

        #text{
            align-items: center;
        }
        
        th{
            text-align: center;
            font-size: 20px;
        }

        td {
            font-size: 20px;
            color: antiquewhite;
            text-align: center;
        }
        
        #yellow{
            color: yellow;
        }
        #sky{
            color: skyblue;
        }

        
    </style>
{% endblock %}
{% block body%}
    <div>
        <center>
        <img src="{% static 'ranking/diamond.png' %}" alt="" width="100rem" style="padding-bottom: 30px;">
        <span class="retro text">LEBELING RANKING!</span>
        <img src="{% static 'ranking/diamond.png' %}" alt="" width="100rem" style="padding-bottom: 30px;">
        </center>
    </div>
    
    <div>
    <center>
    <div id="main-flexbox">
        <div id="content-flexbox">
            <table id="ranking-table" class="table">
                <thead>
                    <tr>
                        <th class = "ranking" >등수</th>
                        <th class = "ranking" >아이디</th>
                        <th class = "ranking" >포인트</th>
                    </tr>
                </thead>
                <tbody id="ranking-list">
                </tbody>
            </table>
        </div>
        
    </div>

    <div id="main-flexbox">
        <div id="content-flexbox">
            <table id="ranking-table" class="table">
                {% for k,v in ranking.items %}
                <tr>
                    {% if forloop.counter == 1  %}
                    <td ><img src="{% static 'ranking/crown.png' %}" alt="" width="30rem" style="padding: 0px;margin: 0px;"></td>
                    {% else %}
                    <td >{{ forloop.counter }}</td>
                    {% endif %}
                    
                    <td style>{{ k }}</td>
                    <td style="color: yellow;" >{{ v }}</td>
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
</center>
</div>
{% endblock %}
